.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 32px !important;
  height: 32px !important;
  padding:2px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}

ul.strokes-picker.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.strokes-picker .list-group-item {
    float: left;
}
